.gas-noble {
    background-color: #ffcc80;
}

.alcalino {
    background-color: #f28b82;
}

.alcalinoterreo {
    background-color: #fdd663;
}

.metal-transicion {
    background-color: #a7c7e7;
}

.metaloide {
    background-color: #81c784;
}

.no-metal{
    background-color: #f8bbd0;
}

.halogeno{
    background-color: #cbaacb;
}

.lantanido {
    background-color: #b0bec5;
}

.actinido {
    background-color: #bcaaa4;
}

.metal-postransicion{
    background-color: #27F5E0;
}
